div(ng-controller="EstablishmentsListController")
    section(class="carousel-wrapper")
        uib-carousel(interval='myInterval', no-wrap='noWrapSlides')
            uib-slide(ng-repeat='slide in slides', active='slide.active')
                div(class="carousel-image" style="background-image:url('{{slide.image}}')")

    section(class="carousel-content")
        div(class="container")
            section(class="carousel-title")
                h1(class="mt-50 mb-25 travel-header lobster-text") Travel
                form(class="form-inline pull-right name-search")
                    div(class="input-group")
                        input(type="text" class="form-control mr-10 input-lg" placeholder="Looking for..." ng-model="filterName"
                        ng-keyup="$event.keyCode == 13 ? onNameSearch() : null")
                        span(class="input-group-btn")
                            button(type="button" class="btn btn-success btn-lg" ng-click="onNameSearch()")
                                i(class="fa fa-search")
            section(class="visible-xs mobile-filters-section")
                label(class="mobile-filters-open btn btn-info" for="mobile-filters-checkbox")
                    |Toggle filters
            input(type="checkbox" id="mobile-filters-checkbox")
            section(class="carousel-filters")
                div(class="row carousel-filters-main")
                    div(class="col-sm-3 col-xs-6 filter-stars")
                        h4 Number of stars
                        div(class="filter-stars-input")
                            uib-rating(ng-model="filterStars" max="5" on-leave="overStar = null"
                            titles="['one','two','three', 'four', 'five']" aria-labelledby="default-rating")
                    div(class="col-sm-3 col-xs-6 filter-userRating")
                        h4 User rating
                        div
                            rzslider(rz-slider-floor="ratingSlider.floor" rz-slider-ceil="ratingSlider.ceil"
                            rz-slider-model="ratingSlider.min" rz-slider-high="ratingSlider.max" rz-slider-hide-limit-labels="true"
                            rz-slider-show-ticks="true")
                    div(class="col-sm-3 col-xs-6 filter-minCost")
                        h4 Cost range
                        div
                            rzslider(rz-slider-floor="priceSlider.floor" rz-slider-ceil="priceSlider.ceil" rz-slider-step="50"
                            rz-slider-model="priceSlider.min" rz-slider-high="priceSlider.max" rz-slider-hide-limit-labels="true")
                    div(class="col-sm-3 col-xs-6 filter-update")
                        h4 Filter Accommodations
                        button(type="button" class="btn btn-info btn-lg" ng-click="onFiltersOrSortUpdate()") Update results
                        div
                            a(href="#" ng-click="onResetFilters($event)") Reset filters

    section(class="results-count" id="scroll-to-element")
        div(class="container pt-15 pb-15")
            span(ng-show="totalPages > 0" class="total-pages-label")
                |{{totalResults}}
                span(class="desc")
                    | &nbsp;Results
            div(class="sort-inputs pull-right")
                form(class="form-inline")
                    select(class="form-control mr-10" ng-model="sortBy" ng-change="onFiltersOrSortUpdate()")
                        option(selected="selected" value="") Sort by...
                        option(value="distance") Distance
                        option(value="stars") Stars
                        option(value="cost") Cost
                        option(value="rating") Rating
                    div(class="sorting-arrows")
                        a(href="#" class="sort-arrow" ng-class="{'selected-sort-arrow': sortDirection == 'asc'}" ng-click="sortOnDirection('asc', $event)")
                            i(class="fa fa-arrow-up")
                        a(href="#" class="sort-arrow" ng-class="{'selected-sort-arrow': sortDirection == 'desc'}" ng-click="sortOnDirection('desc', $event)")
                            i(class="fa fa-arrow-down")

    section(class="container list-container")
        section(ng-show="0 == totalPages" class="list-no-results")
            h1 There are no available results!
            p Try changing the conditions of your search and update results, or reset the filters.

        div(class="results-div" ng-show="totalPages > 0")
            div(class="est-div" ng-repeat="est in establishments")
                div(class="row est-row mb-15")
                    div(class="col-md-3 col-sm-12 est-image" style="background-image:url('{{est.ImageUrl}}')")
                    div(class="col-md-9 col-sm-12 est-data")
                        div(class="row hidden-xs")
                            div(class="col-xs-2 est-stars-rating")
                                div(class="est-stars")
                                    div(class="est-stars-value pt-20")
                                        |{{est.Stars}}&nbsp;
                                        i(class="fa fa-star-o")
                                    div(class="est-stars-desc")
                                        small stars
                                div(class="est-rating")
                                    div(class="est-rating-value pt-20")
                                        |{{est.UserRating}}&nbsp;
                                        i(class="fa fa-thumbs-o-up")
                                    div(class="est-rating-desc")
                                        small {{est.UserRatingCount}} ratings
                            div(class="col-xs-8")
                                h3(class="est-title")
                                    | {{est.Name}}
                                p(class="est-location")
                                    |  {{est.Location}} ({{est.Distance | number:0}} km)
                                p(class="est-desc mt-15")
                                    |Bacon ipsum dolor amet ham hock bresaola shoulder, ground round cow strip steak sausage.
                                    |Ham hock doner leberkas alcatra hamburger, capicola kielbasa pig.
                                ul(class="est-icons")
                                    li(class="fa fa-coffee")
                                    li(class="fa fa-wifi")
                                    li(class="fa fa-bus")
                                    li(class="fa fa-cutlery")
                                a(ng-href="#" class="est-map")
                                    i(class="fa fa-map-marker")
                                    span(class="")
                                        |&nbsp;View on map
                            div(class="col-xs-2 est-price")
                                div(class="est-price-value")
                                    |&#163;{{est.MinCost | number:0}}
                                    span
                                        |min price
                                div(class="est-more-details")
                                    a(class="btn btn-success" href="#" role="button")
                                        | More details
                        div(class="row visible-xs mobile-est-data")
                            div(class="col-xs-12 mobile-est-data-title")
                                h3(class="est-title")
                                    | {{est.Name}}
                                p(class="est-location")
                                    |  {{est.Location}} ({{est.Distance | number:0}} km)
                            div(class="col-xs-4 mobile-est-info-block")
                                div(class="est-stars-value pt-20")
                                    |{{est.Stars}}&nbsp;
                                    i(class="fa fa-star-o")
                                div(class="est-stars-desc")
                                    small stars
                            div(class="col-xs-4 mobile-est-info-block")
                                div(class="est-rating-value pt-20")
                                    |{{est.UserRating}}&nbsp;
                                    i(class="fa fa-thumbs-o-up")
                                div(class="est-rating-desc")
                                    small {{est.UserRatingCount}} ratings
                            div(class="col-xs-4 mobile-est-info-block")
                                div(class="est-price-value")
                                    |&#163;{{est.MinCost | number:0}}
                                div(class="est-more-details")
                                    a(class="btn btn-success" href="#" role="button")
                                        | More details

        div(class="est-pagination" ng-show="totalPages > 1")
            //uib-pagination(total-items="totalResults" items-per-page="itemsPerPage" ng-model="currentPage"
            //boundary-links="true" max-size="7" rotate="false" ng-change="pageChanged()")
            button(type="button" class="btn btn-success btn-lg mt-20" ng-click="loadNextPage()")
                |Load More ({{currentPage}}/{{totalPages}})

    footer(class="est-footer mt-50")
        div(class="container")
            h1(class="lobster-text") Travel 2015